<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  
</body>
</html>
